<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid"; 
        <a class="navbar-brand" href="" style="font-weight: 800; font-size: 1.5rem; color: #fff; letter-spacing: 2px; text-transform: uppercase; text-shadow: 0 0 10px #00f3ff, 0 0 20px #00f3ff; transition: 0.3s;">
          CAPECENIO
        </a>
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Me
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="education">
                <span class="bi bi-book-nav-menu" aria-hidden="true"></span> Education
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interests">
                <span class="bi bi-heart-nav-menu" aria-hidden="true"></span> Interests
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="experience">
                <span class="bi bi-briefcase-nav-menu" aria-hidden="true"></span> Experience
            </NavLink>
        </div>
    </nav>
</div>